{% extends 'base.html' %}

{% block content %}
<!-- Page content -->
<div class="container mt-5 pt-3 pb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mt-4">About TechHub</h1>
            <hr>
            <p>TechHub is a leading tech educational platform dedicated to providing high-quality, accessible tech education to individuals worldwide. Our mission is to empower learners of all backgrounds with the knowledge and skills needed to thrive in the rapidly evolving field of technology.</p>
            <p>At TechHub, we believe that education should be inclusive and accessible to everyone, regardless of their financial situation or geographical location. That's why we offer a wide range of free resources, including courses, tutorials, articles, and community forums, to help learners build their tech skills and advance their careers.</p>
            <p>Our platform also serves as a vibrant hub for tech professionals and enthusiasts to connect, collaborate, and share knowledge. Whether you're a seasoned developer, a curious beginner, or simply passionate about technology, TechHub provides a welcoming space for you to learn, grow, and network with like-minded individuals.</p>
            <p>Join us today and embark on your journey to mastering the exciting world of technology with TechHub!</p>
        </div>
    </div>
</div>
{% endblock %}